<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>411614846776-i2tavo7a7vqn4kt4rvi4p73hlnk08huh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.411614846776-i2tavo7a7vqn4kt4rvi4p73hlnk08huh</string>
	<key>API_KEY</key>
	<string>AIzaSyDV88PvmpcKoF16mv9R17Unbtn9FA01rOU</string>
	<key>GCM_SENDER_ID</key>
	<string>411614846776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Tolga.Red</string>
	<key>PROJECT_ID</key>
	<string>redtest-4dec6</string>
	<key>STORAGE_BUCKET</key>
	<string>redtest-4dec6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411614846776:ios:b4d5d9459097c2135c2bcd</string>
</dict>
</plist>